<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>

    </ion-buttons>
    <ion-title align="center">SuperMercados el 9</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid >

      <span *ngFor="let icategoria of icategoria">

          <span *ngFor="let ipeli of ipelis">

        <ion-card  size="12"  *ngIf="icategoria.id_producto==ipeli.product_id" >

<img src="{{ipeli.image}}"  style="width:150px; height:150px;">
        <ion-row>
            <ion-col size="7">
                <ion-col>
                     <ion-card-subtitle  style="color: #43af35; font-size:17px">{{ipeli.name}}</ion-card-subtitle>
                </ion-col>
                <ion-col>
                     <ion-card-subtitle><strong> cantidad:</strong>{{icategoria.cantidad}}</ion-card-subtitle>
                </ion-col>
            </ion-col>

        </ion-row>
    
        </ion-card>
      </span>
          </span>
  </ion-grid>



</ion-content>
